gradio==4.44.1
huggingface_hub<=0.24.7
starlette<0.37.0
pandas>=2.0.0
numpy>=1.24.0
scikit-learn==1.9.1
xgboost==3.4.1
joblib==1.6.0
pydantic>=2.7.4
imbalanced-learn==0.14.2
category-encoders==2.11.1



